.vs/
/landmarkvue/node_modules
/LandMarkLinux.Server/obj/Debug
/LandMarkLinux.Server/obj
/LandMarkLinux.Server/bin
/LandMark.EF/obj
/LandMark.MiddleWare/obj
/LandMark.MiddleWare/bin
/landmarklinux.client/obj
